#obrigado{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/bg/bg.webp);
}

#obrigado img{
    width: 20%;
    max-width: 150px;
}

#obrigado p{
    color: white;
    font-size: .9em;
    margin-top: 30px;
}